.a-box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    text-align: center;
    color:black;
    margin: 20px;
}

.a-box:hover {
    background-color: #D4CDC5;
}
.resize-box-img{
    margin-top: 10px;
    width: 250px;
    height: auto;
}
